# URL để ứng dụng kết nối lấy dữ liệu
XANO_APP_API_URL=https://x8ki-letl-twmt.n7.xano.io/api:your_group_name


# URL base 
XANO_BASE_URL=https://x8ki-letl-twmt.n7.xano.io/api:your_group_name

# URL để script tự động tạo bảng (Metadata API)
XANO_METADATA_API_URL=https://x8ki-letl-twmt.n7.xano.io/api:meta
